<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/layui/css/layui.css" rel="stylesheet" type="text/css" >
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/layui/layui.js" ></script>
    <link href="/mycss/base.css" rel="stylesheet" type="text/css">
    <link href="/mycss/index.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>sql</title>
</head>
<body>
    <div id="function">
        <button id="oracle" type="button" class="layui-btn layui-btn-normal">Oracle</button>
    </div>
    <script>
        $("#oracle").click(function () {
            location.href = '/oracleSql';
        })
    </script>
</body>
</html>